
.page {
    display: flex;
    justify-content: center;
    width: 100%;
}
.logs {
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
}
.logs h1{
    font-size: 2rem;
}

.filters {
    display: flex;
    justify-content: space-between;
}
.suggestions {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
}

.suggestions li {
    margin-bottom: 1rem;
}

.activeSuggestion {
    background: rgba(255,255,255,0.5);
}

.logList li, .filter, .filterInput, .tagInput{
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.filterTag, .tag {
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    display: inline;

}
.filterTag span, .tag span {
    margin-left: 8px;
}
.filterTag button, .tag button {
    margin-right: 8px;
}

.sortButton {
    float: right;
}

.logList li{
    display: flex;
    align-items: center;
    height: 72px;
}
.details{
    display: flex;
    align-items: center;
}
.title, .createdAt{
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
}
.createdAt {
    width: 3rem;
}
