
.page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.newEntry, .viewEntry, .edit {
    flex: 0.5;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.newEntry h1, .viewEntry h1, .edit h1 {
    text-align: left;
    font-size: 28px;
}
.viewEntry h1 {
    margin-bottom: 1rem;
}


.title input {
    padding: 8px;
    border: none;
    background-color: transparent;
    outline: none;
}
.description, .viewDescription{

    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(255, 255, 255, 0.8);*/
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    margin-bottom: 1rem;
}
.description textarea, .viewDescription {
    padding: 8px;
    height: 200px;
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
    outline: none;
    resize: none;

}
.description textarea {
    background-color: transparent;
}

/* ----------------Details -------------*/

.newEntry ul h1, .viewEntry ul h1, .edit ul h1{
    font-size: 21px;
    margin-bottom: 1rem;
}

.newEntry ul li, .viewEntry ul li, .edit ul li {
    margin-bottom: 16px;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    /*background-color: transparent;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(255, 255, 255, 0.5);*/
}
.newEntry ul li label, .viewDetails li, .edit ul li label{
    color: rgba(255, 255, 255, 0.8);
    padding: 8px;
}
.newEntry ul li select,.newEntry ul li input
, .edit ul li select, .edit ul li input {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    outline: none;
}

.submitButton::before {
    content:"";
    position: absolute;
    width: 10%;
    height: 10%;
    background: #000;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}

.submitButton:hover::before {
    transform: scaleX(1);
    color: #ffffff;
}

.emojiPickerContainer {
    position: relative;
    display: inline-block;
}
.emojiPicker {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}
