
.page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.newEntry, .viewEntry, .edit {
    flex: 0.5;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.newEntry h1, .viewEntry h1, .edit h1 {
    text-align: left;
    font-size: 28px;
}
.viewEntry h1 {
    margin-bottom: 1rem;
}


.title input {
    padding: 8px;
    border: none;
    background-color: transparent;
    outline: none;
}
.description, .viewDescription{

    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(255, 255, 255, 0.8);*/
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    margin-bottom: 1rem;
}
.description textarea, .viewDescription {
    padding: 8px;
    height: 200px;
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
    outline: none;
    resize: none;

}
.description textarea {
    background-color: transparent;
}

/* ----------------Details -------------*/

.newEntry ul h1, .viewEntry ul h1, .edit ul h1{
    font-size: 21px;
    margin-bottom: 1rem;
}

.newEntry ul li, .viewEntry ul li, .edit ul li {
    margin-bottom: 16px;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    /*background-color: transparent;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(255, 255, 255, 0.5);*/
}
.newEntry ul li label, .viewDetails li, .edit ul li label{
    color: rgba(255, 255, 255, 0.8);
    padding: 8px;
}
.newEntry ul li select,.newEntry ul li input
, .edit ul li select, .edit ul li input {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    outline: none;

}

.submitButton{
    padding: 0.5rem;
    background: rgba(255,255,255, 0.2);
    border-radius: 16px;
    cursor: pointer;
    transition: transform .4s;
    overflow: hidden;

}
.submitButton:hover {
    transform: rotate(-4deg) scale(1.1);
}

.submitButton:hover .btnColor {
    left: 0%;
}

.btnColor {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(45deg, #2e4482, #546bab);
    pointer-events: none;
    position: absolute;
    top: -36px;
    left: -150%;
    transition: left 0.3s ease; /* Simplified animation */
    z-index: -1; /* Ensure it is behind the text */
}
.editButton {
    display: flex;
}
.editButton span{
    margin-right: 0.5rem;
}

.tagsInput {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;

}

.tag button {
    border: none;
    background: none;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: space-between;
}









