.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    padding: 20px;
    border-radius: 8px;
    background: rgb(170,170,170);
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.modalBody {

    color: #DC143C;
    margin: 20px 0;
}

.modalFooter {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.cancelButton {
    background: #ccc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.confirmButton {
    background: #ff5f5f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
