.sidebar {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #2d3748;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
}

.sidebarOpen {
  width: 250px;
}

.menuButton {
  position: absolute;
  color: #fff;
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
  transition: left 0.3s ease-in-out;
}

.sidebarOpen .menuButton {
  left: 90%;
}

.sidebar .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
  white-space: nowrap; /* Prevent text wrapping */
  margin-bottom: 20px; /* Adjust margin as needed */

  transition: opacity 0.5s ease-in-out;
}

.sidebarOpen .logo {
  opacity: 1;
}

.sidebar ul {
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  height: 100%; /* Ensure the ul fills the sidebar height */
  justify-content: flex-start;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 100%; /* Ensure the list item spans the full width */
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  margin: 0.8rem 0; /* Adjust margin as needed */

  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.sidebar ul li a,
.sidebar ul li button {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left; /* Center the content */
  text-decoration: none;
  border-radius: 0.8rem;
  background: none; /* Ensure the background is transparent */
  border: none; /* Remove the default button border */
  cursor: pointer;
  width: 100%; /* Make sure it spans the full width */
  height: 100%; /* Make sure it spans the full height */
}

.sidebar ul li a:hover,
.sidebar ul li button:hover {
  background-color: #ffffff;
  color: #12171e;
}

.sidebar ul li a i,
.sidebar ul li button i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */

  transition: left 0.3s ease-in-out;
}

.sidebar ul li a span,
.sidebar ul li button span,
.sidebar .logo span {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebarOpen ul li a,
.sidebarOpen ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .navItem {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Added transition */
}

.sidebarOpen .navItem {
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
}

.sidebarOpen ul li .tooltip {
  display: none;
}

.content {
  transition: margin-left 0.5s ease;
  margin-left: 80px; /* Adjust this value as needed */
}

.contentShift {
  margin-left: 250px; /* Adjust this value as needed */
}
