.newEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f0f0f0;
    min-height: 100vh;

}

.createNewEntry {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}


.header {
    text-align: center;
    margin-bottom: 20px;
}


.title {
    position: relative;
    margin-bottom: 16px;

}

.title input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

.description textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 200px;
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
    outline: none;
    border: none;
    resize: none;
}

.detailsHeader {
    margin-bottom: 1rem;
}
.details {
    display: flex;
    flex-direction: column;
}

.detailItem {
    margin-bottom: 16px; /* Add margin bottom to create space between items */
    background-color: #cccccc;
}

.detailItem select,
.detailItem input {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 4px;
}